.projects-text-container{
    margin-top: 80px;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.projects-text-titel{
    color: var(--main-color);
}  
.projects-text-p{
    font-weight: 200;
    font-size: 20px;
    text-align: center;
}  
.line{
    border: 1px solid;
    width: 30px;
    margin: 6px;
    color: var(--main-color);
}

.projects-components-container{
    padding-left: 13%;
}

@media (max-width: 1199px) {
    .projects-components-container{
        padding-left: 0;
    }

    .projects-text-container{
        margin-top: 50px;
        margin-bottom: 40px;
    }    
}
  