img{
    width: 400px;
    height: 300px;
}
.title{
    width: 400px;
}
.info-container p{
    width: 400px;
    max-width: 400px;
}
.info-container .pills{
    width: 400px;
}
.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 991px) {
    .img-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
@media (max-width: 430px) {
    img{
        width: 100%;
        height: 250px;
    }
}
@media (max-width: 415px) {
    .title{
        width: 390px;
    }
    .info-container p{
        width: 390px;
        max-width: 390px;
    }
    .info-container .pills{
        width: 390px;
    }
}
@media (max-width: 405px) {
    .title{
        width: 385px;
    }
    .info-container p{
        width: 385px;
        max-width: 385px;
    }
    .info-container .pills{
        width: 385px;
    }
}
@media (max-width: 400px) {
    .title{
        width: 375px;
    }
    .info-container p{
        width: 375px;
        max-width: 375px;
    }
    .info-container .pills{
        width: 375px;
    }
}
@media (max-width: 380px) {
    .img-container{
        text-align: center;
    }
    img{
        width: 95%;
        height: 230px;
    }
    .title{
        width: 360px;
    }
    .info-container p{
        width: 360px;
        max-width: 360px;
    }
    .info-container .pills{
        width: 360px;
    }
}
@media (max-width: 376px) {
    .title{
        width: 355px;
    }
    .info-container p{
        width: 355px;
        max-width: 355px;
    }
    .info-container .pills{
        width: 355px;
    }
}